<template>
    <!-- .q-(p|m)(t|r|b|l|a|x|y)-<bp>-(none|auto|xs|sm|md|lg|xl) -->
    <div class="page-cards q-px-sm-lg q-px-xs-none">
        <section class="section-top q-pt-xl q-mb-lg">
            <div class="section-top__title q-mt-md q-mb-sm q-ml-sm">Available balance</div>
            <div class="section-top__caption">
                <div class="balance row items-center">
                    <span class="balance__currency q-ml-sm">$</span>
                    <span class="balance__amount q-ml-md">3,000</span>
                </div>
                <q-btn :flat="$q.screen.lt.sm" :color="$q.screen.lt.sm ? 'info': 'accent'" icon="add_circle" label="New Card" class="q-mr-sm" no-caps />
            </div>
        </section>
        <section class="section-mid">
            <q-tabs
                v-model="tab"
                inline-label
                :breakpoint="0"
                align="left"
                indicator-color="info"
                dense
                narrow-indicator
            >
                <q-tab class="q-pl-sm" :ripple="false" name="mycards" label="My Debit Cards" no-caps />
                <q-tab :ripple="false" name="allcards" label="All Company Cards" no-caps />
            </q-tabs>
            <!-- .q-(p|m)(t|r|b|l|a|x|y)-<bp>-(none|auto|xs|sm|md|lg|xl)  -->
            <q-card :flat="$q.screen.lt.sm" class="card-aspire q-mt-md q-mx-sm-sm q-mx-xs-none">
                <q-card-section :horizontal="$q.screen.lt.sm">
                    <transition name="fade" mode="out-in" appear>
                        <my-debit-cards v-if="tab=='mycards'" />
                        <all-company-cards v-else />
                    </transition>
                </q-card-section>
            </q-card>
        </section>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import MyDebitCards from '../components/MyDebitCards.vue';
import AllCompanyCards from '../components/AllCompanyCards.vue';
export default defineComponent({
    name: 'page-cards',
    components: { MyDebitCards, AllCompanyCards },
    setup() {
        const tab = ref('mycards');
        return { tab }
    }
})
</script>

<style lang="scss" scoped>
.page-cards {
    .section-top {
        &__title {
            font-weight: 400;
            font-size: 24px;
        }
        &__caption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .balance {
                &__currency {
                    padding: 3px 15px;
                    border-radius: 3px;
                    color: #fff;
                    background-color: $secondary;
                }
                &__amount {
                    font-size: 2em;
                    font-weight: bolder;
                }
            }
        }
    }
    .section-mid {
        ::v-deep(.card-aspire) {
            min-height: 600px;
            @media(max-width: $breakpoint-xs-max) {
                min-height: fit-content;
            }
        }
    }
}
</style>