<template>
    <div class="page-credit q-px-sm-lg q-px-xs-none">
        <section class="section-top q-pt-xl q-mb-lg">
            <div class="section-top__title q-mt-md q-mb-sm q-ml-sm">Balance loan</div>
            <div class="section-top__caption">
                <div class="balance row items-center">
                    <span class="balance__currency q-ml-sm">$</span>
                    <span class="balance__amount q-ml-md">{{creditBalance}}</span>
                    <q-spinner-ios v-if="loading" :color="$q.screen.lt.sm ? 'white' : 'primary'" size="1em" class="q-ml-sm" />
                </div>
                <q-btn :flat="$q.screen.lt.sm" :color="$q.screen.lt.sm ? 'info': 'accent'" icon="approval" label="Status" class="q-mr-sm" no-caps />
            </div>
        </section>
        <section class="section-mid">
            <q-tabs
                v-model="tab"
                inline-label
                :breakpoint="0"
                align="left"
                indicator-color="info"
                dense
                narrow-indicator
            >
                <q-tab class="q-pl-sm" :ripple="false" name="applyloan" label="Apply loan" no-caps />
                <q-tab :ripple="false" name="history" label="Credit history" no-caps disable />
            </q-tabs>
            <q-card :flat="$q.screen.lt.sm" class="card-aspire q-mt-md q-mx-sm-sm q-mx-xs-none">
                <q-card-section>
                      <div class="q-pa-md" style="max-width: 400px">
                        <q-form
                        @submit="onSubmit"
                        @reset="onReset"
                        class="q-gutter-md"
                        >
                        <q-input
                            filled
                            v-model="purpose"
                            label="Your purpose for the loan *"
                            :dark="$q.screen.lt.sm"
                            hint="Describe a purpose"
                            lazy-rules
                            :rules="[ val => val && val.length > 0 || 'Please type something']"
                        />

                        <q-input
                            filled
                            type="number"
                            v-model="amount"
                            label="Loan amount *"
                            :dark="$q.screen.lt.sm"
                            lazy-rules
                            :rules="[
                                val => val !== null && val !== '' || 'Please provide the amount',
                                val => val > 0 && val < 5000 || 'Credit limit is 5000'
                            ]"
                        />

                        <q-toggle v-model="accept" label="I accept the license and terms" :dark="$q.screen.lt.sm" :color="$q.screen.lt.sm ? 'info': 'accent'" />

                        <div>
                            <q-btn label="Submit" type="submit" color="secondary" :flat="$q.screen.lt.sm" no-caps />
                            <q-btn label="Reset" type="reset" :color="$q.screen.lt.sm ? 'info': 'accent'" flat class="q-ml-sm" no-caps />
                        </div>
                        </q-form>

                    </div>
                </q-card-section>
            </q-card>
        </section>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import { useQuasar } from 'quasar';
// do not use useStore from vuex because vuex does not provide ts typings for useStore
// https://next.vuex.vuejs.org/guide/typescript-support.html
// import { useStore } from 'vuex';
import { useStore } from '../store/index';

export default defineComponent({
    name: 'page-credit',
    setup() {
        const $store = useStore();
        const tab = ref('applyloan');
        const $q = useQuasar();
        const purpose = ref('');
        const amount = ref(0);
        const accept = ref(false);
        const loading = ref(false);
        // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
        const creditBalance = computed(() =>($store.getters['users/getUserBalance']) as number);

        const onSubmit = function() {
            if (accept.value !== true) {
                $q.notify({
                    color: 'red-5',
                    textColor: 'white',
                    icon: 'warning',
                    message: 'You need to accept the license and terms first'
                })
            }
            else {
                loading.value = true;
                $store.dispatch('requests/createARequest', {amount: parseInt(amount.value.toString()), purpose:purpose.value})
                .then(()=> {
                    loading.value = false;
                    $q.notify({
                        color: 'green-4',
                        textColor: 'white',
                        icon: 'cloud_done',
                        message: 'Submitted'
                    });
                }).catch((err)=> {console.error(err)})
            }
        }
        return { 
            tab,
            purpose,
            amount,
            accept,
            onSubmit,
            creditBalance,
            loading,
            onReset () {
                purpose.value = ''
                amount.value = 0
                accept.value = false
            }
        }
    }
});
</script>

<style lang="scss" scoped>
.page-credit {
    .section-top {
        &__title {
            font-weight: 400;
            font-size: 24px;
        }
        &__caption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .balance {
                &__currency {
                    padding: 3px 15px;
                    border-radius: 3px;
                    color: #fff;
                    background-color: $secondary;
                }
                &__amount {
                    font-size: 2em;
                    font-weight: bolder;
                }
            }
        }
    }
    .section-mid {
        ::v-deep(.card-aspire) {
            min-height: 600px;
        }
    }
}
</style>