<template>
    <!-- .q-(p|m)(t|r|b|l|a|x|y)-<bp>-(none|auto|xs|sm|md|lg|xl) -->
    <div class="page-payments q-px-sm-lg q-px-xs-none">
        <section class="section-top q-pt-xl q-mb-lg">
            <div class="section-top__title q-mt-md q-mb-sm q-ml-sm">Balance loan</div>
            <div class="section-top__caption">
                <div class="balance row items-center">
                    <span class="balance__currency q-ml-sm">$</span>
                    <span class="balance__amount q-ml-md">{{creditBalance}}</span>
                            <q-spinner-ios v-if="loading" :color="$q.screen.lt.sm ? 'white' : 'primary'" size="1em" class="q-ml-sm" />
                </div>
                <q-btn :flat="$q.screen.lt.sm" :color="$q.screen.lt.sm ? 'info': 'accent'" icon="add_circle" label="New Card" class="q-mr-sm" no-caps />
            </div>
        </section>
        <section class="section-mid">
            <q-tabs
                v-model="tab"
                inline-label
                :breakpoint="0"
                align="left"
                indicator-color="info"
                dense
                narrow-indicator
            >
                <q-tab class="q-pl-sm" :ripple="false" name="pending" label="Pending payments" no-caps />
                <q-tab :ripple="false" name="history" label="Payments history" no-caps disable />
            </q-tabs>
            <!-- .q-(p|m)(t|r|b|l|a|x|y)-<bp>-(none|auto|xs|sm|md|lg|xl)  -->
            <q-card :flat="$q.screen.lt.sm" class="card-aspire q-mt-md q-mx-sm-sm q-mx-xs-none">
                <q-card-section v-if="tab=='pending'">
                    <q-form
                        @submit="onSubmit"
                        @reset="onReset"
                        class="q-gutter-md"
                    >
                        <div class="row items-center">
                            <q-radio v-model="tenure" val="3" label="Payback in 3 months" :color="$q.screen.lt.sm ? 'info': 'accent'" />
                            <q-radio v-model="tenure" val="6" label="Payback in 6 months" :color="$q.screen.lt.sm ? 'info': 'accent'" />
                            <q-radio v-model="tenure" val="12" label="Payback in 12 months" :color="$q.screen.lt.sm ? 'info': 'accent'" />
                        </div>
                        <q-input
                            filled
                            type="number"
                            v-model="amountToPay"
                            label="Loan amount *"
                            :dark="$q.screen.lt.sm"
                            lazy-rules
                            :rules="[
                                val => val !== null && val !== '' || 'Please provide the amount',
                                val => val > 0 && val < 5000 || 'Please pay a valid amount'
                            ]"
                        />

                        <q-toggle v-model="accept" label="I am ready to pay weekly" :dark="$q.screen.lt.sm" :color="$q.screen.lt.sm ? 'info': 'accent'" />

                        <div>
                            <q-btn label="Pay" type="submit" color="secondary" :flat="$q.screen.lt.sm" no-caps />
                            <q-btn label="Reset" type="reset" :color="$q.screen.lt.sm ? 'info': 'accent'" flat class="q-ml-sm" no-caps />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </section>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, watch } from 'vue';
import { useStore } from '../store/index';
import { useQuasar } from 'quasar';

export default defineComponent({
    name: 'page-payments',
    setup() {
        const $store = useStore();
        const $q = useQuasar();
        const tab = ref('pending');
        const amountToPay = ref(0);
        const tenure = ref(12);
        const accept = ref(false);
        const loading = ref(false);
        // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
        const creditBalance = computed(() =>($store.getters['users/getUserBalance']) as number);

        watch(tenure, (value) => {
            if (value) {
                amountToPay.value = Math.ceil(parseFloat((creditBalance.value/(value*4)).toFixed(2)));
            }
        })

        function onSubmit() {
            if (accept.value !== true) {
                $q.notify({
                    color: 'red-5',
                    textColor: 'white',
                    icon: 'warning',
                    message: 'You need to accept the weekly payment criteria'
                })
            }
            else {
                loading.value = true;
                $store.dispatch('transactions/createATransaction', {amount: parseInt(amountToPay.value.toString()), type: 'debit'})
                .then(() => {
                    loading.value = false;
                    $q.notify({
                        color: 'green-4',
                        textColor: 'white',
                        icon: 'cloud_done',
                        message: 'Submitted'
                    });
                }).catch((err) => {console.error(err)})
            }
        }
        function onReset() {
            //
        }
        return {
            tab,
            onSubmit,
            onReset,
            amountToPay,
            tenure,
            accept,
            creditBalance,
            loading
        }
    }
});
</script>
<style lang="scss" scoped>
.page-payments {
        .section-top {
        &__title {
            font-weight: 400;
            font-size: 24px;
        }
        &__caption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .balance {
                &__currency {
                    padding: 3px 15px;
                    border-radius: 3px;
                    color: #fff;
                    background-color: $secondary;
                }
                &__amount {
                    font-size: 2em;
                    font-weight: bolder;
                }
            }
        }
    }
    .section-mid {
        ::v-deep(.card-aspire) {
            min-height: 600px;
        }
    }
}
</style>