
<template>


<!-- .q-(p|m)(t|r|b|l|a|x|y)-<bp>-(none|auto|xs|sm|md|lg|xl) -->
    <div class="page-settings q-px-sm-lg q-px-xs-none">
        <section class="section-top q-pt-xl q-mb-lg">
            <div class="section-top__title q-mt-md q-mb-sm q-ml-sm">Request Pending <q-spinner-ios v-if="loading" :color="$q.screen.lt.sm ? 'white' : 'primary'" size="1em" class="q-ml-sm" /></div>
            
            <div v-for="{amount, purpose, requestId} in requests" :key="requestId" class="section-top__caption row items-center" :class="{'justify-center': $q.screen.lt.sm}">
                <div class="balance row items-center" :class="{'q-mr-sm': $q.screen.lt.md, 'q-mr-lg': $q.screen.gt.sm}">
                    <span class="balance__currency q-ml-sm">$</span>
                    <span class="balance__amount q-ml-md">{{amount}}</span>
                </div>
                <div class="purpose" :class="{'q-mr-sm': $q.screen.lt.md, 'q-mr-lg': $q.screen.gt.sm}">
                    for <b>{{purpose}}</b>
                </div>
                <q-btn-group flat>
                    <q-btn size="12px" :flat="$q.screen.lt.sm" :label="$q.screen.lt.sm ? '' : 'Approve'" icon="check_circle" color="secondary" class="q-mr-sm" @click="sendApproval(requestId, 'approved', amount)" />
                    <q-btn size="12px" :flat="$q.screen.lt.sm" :label="$q.screen.lt.sm ? '' : 'Reject'" icon="cancel" color="negative" @click="sendApproval(requestId, 'rejected', amount)" />
                </q-btn-group>
            </div>

        </section>
    </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import { useStore } from '../store/index';

export default defineComponent({
    name: 'page-settings',
    setup() {
        const $store = useStore();
        function sendApproval(requestId: string, approvalStatus: string, amount: number): void {
            loading.value = true;
            $store.dispatch('requests/approveARequest', {requestId, approvalStatus, amount})
            .then(() => {
                loading.value = false;
            }).catch(err => console.error(err));
        }
        // eslint-disable-next-line @typescript-eslint/no-unsafe-member-access
        const requests = computed(() =>($store.getters['requests/getPendingRequestsLocally']) as []);
        const loading = ref(false);
        return {
            requests,
            sendApproval,
            loading
        }
    }
})
</script>

<style lang="scss" scoped>
.page-settings {
    .section-top {
        &__title {
            font-weight: 400;
            font-size: 24px;
        }
        &__caption {
            .balance {
                &__currency {
                    padding: 3px 15px;
                    border-radius: 3px;
                    color: #fff;
                    background-color: $secondary;
                }
                &__amount {
                    font-size: 2em;
                    font-weight: bolder;
                    @media (max-width: $breakpoint-xs-max) {
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .section-mid {
        ::v-deep(.card-aspire) {
            min-height: 600px;
        }
    }
}
</style>