<template>
    <div class="component-card-expandable-options">
        <q-expansion-item
            icon="credit_card"
            expand-icon="expand_circle_down"
            label="Card details"
            header-class="expansion-header-aspire"
            expand-icon-class="expansion-expand-icon-aspire"
        >
        </q-expansion-item>
        <q-expansion-item
            icon="multiple_stop"
            expand-icon="expand_circle_down"
            label="Recent transactions"
            header-class="expansion-header-aspire"
            expand-icon-class="expansion-expand-icon-aspire"
        >
            <q-expansion-item
                expand-icon="chevron_right"
                header-class="sub-expansion-header-aspire"
                expand-icon-class="sub-expansion-expand-icon-aspire"
                v-for="tr in transactions"
                :key="tr.id"
            >
                <template v-slot:header>
                    <q-item-section side>
                        <q-avatar size="lg" dense :color="`${tr.color}-1`">
                            <q-icon size="xs" :name="tr.img" :color="`${tr.color}-4`" />
                        </q-avatar>
                    </q-item-section>
                    <q-item-section>
                        <div class="text-subtitle2 q-pl-xs">{{tr.title}}</div>
                        <div class="text-caption text-blue-grey-4 q-pl-xs">{{tr.date}}</div>
                        <q-chip dense text-color="accent" color="white" :ripple="false">
                            <q-avatar icon="payment" color="accent" text-color="white" />
                            <div class="q-pl-sm text-weight-medium text-caption">{{tr.more}}</div>
                        </q-chip>
                    </q-item-section>
                    <q-item-section side class="text-weight-medium text-caption">
                        + $ 150
                    </q-item-section>
                </template>
            </q-expansion-item>

        </q-expansion-item>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    setup() {
        const transactions = [
            {id: 1, title: 'Hamleys', date: '20 May 2021', img: 'inventory_2', more: 'Refund on debit card', color: 'green'},
            {id:2, title: 'Hamleys', date: '20 May 2021', img: 'flight', more: 'Refund on debit card', color: 'blue'},
            {id:3, title: 'Hamleys', date: '20 May 2021', img: 'shopping_bag', more: 'Debit from debit card', color: 'red'},
            {id:4, title: 'Hamleys', date: '20 May 2021', img: 'storefront', more: 'Refund on debit card', color: 'yellow'},
            {id:5, title: 'Hamleys', date: '20 May 2021', img: 'shopping_basket', more: 'Refund on debit card', color: 'red'}
        ]
        return { transactions }
    },
})
</script>


<style lang="scss" scoped>
::v-deep(.expansion-header-aspire) {
    color: $accent;
    background: #F5F9FF;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 500;
    .expansion-expand-icon-aspire {
        color: #D7E2F3;
    }
}
::v-deep(.sub-expansion-header-aspire) {
    align-items: flex-start;
    @media (max-width: 370px) {
        width: 320px;
    }
}
</style>