<template>
    <div class="component-card-options">
        <q-card class="row menu-card-aspire justify-center">
            <q-card-section class="menu-card-aspire__section column items-center" :class="{'q-px-none': $q.screen.gt.xs}" tag="a">
                <q-avatar size="md" color="accent" text-color="white" icon="ac_unit" />
                <span class="text-blue-10 text-caption menu-text-aspire">Freeze card</span>
            </q-card-section>
            <q-card-section class="menu-card-aspire__section column items-center" :class="{'q-px-none': $q.screen.gt.xs}" tag="a">
                <q-avatar size="md" color="accent" text-color="white" icon="speed" />
                <span class="text-blue-10 text-caption menu-text-aspire">Set spend limit</span>
            </q-card-section>
            <q-card-section class="menu-card-aspire__section column items-center" :class="{'q-px-none': $q.screen.gt.xs}" tag="a">
                <q-avatar size="md" color="white" text-color="white" icon="img:https://cdn.worldvectorlogo.com/logos/google-g-2015.svg" />
                <span class="text-blue-10 text-caption menu-text-aspire">Add to GPay</span>
            </q-card-section>
            <q-card-section class="menu-card-aspire__section column items-center" :class="{'q-px-none': $q.screen.gt.xs}" tag="a">
                <q-avatar size="md" color="accent" text-color="white" icon="rotate_left" />
                <span class="text-blue-10 text-caption menu-text-aspire">Replace card</span>
            </q-card-section>
            <q-card-section class="menu-card-aspire__section column items-center" :class="{'q-px-none': $q.screen.gt.xs}" tag="a">
                <q-avatar size="md" color="accent" text-color="white" icon="delete_outline" />
                <span class="text-blue-10 text-caption menu-text-aspire">Cancel card</span>
            </q-card-section>
        </q-card>
    </div>
</template>

<style lang="scss" scoped>
.menu-card-aspire {
    border-radius: 10px;
    background: #F5F9FF;
    &__section {
        @media(max-width: 460px) {
            padding: 16px 10px;
        }
        @media(max-width: 400px) {
            padding: 16px 5px;
        }
        @media(max-width: 350px) {
            padding: 16px 2px;
        }
    }
    ::v-deep(.menu-text-aspire) {
        display: block;
        width: 60px;
        text-align: center;
    }
    @media(max-width: $breakpoint-xs-max) {
        border-radius: 25px 25px 0 0;
        width: 100%;
    }
}
</style>