<template>
    <div class="component-debit-card column items-end">
        <q-chip dense clickable :class="{'fluid-chip': $q.screen.lt.sm}" v-model:selected="isCardNumberVisible" icon ="visibility" icon-selected="visibility_off" text-color="secondary" color="white" size="sm" :ripple="false">
            <div class="q-pl-sm text-weight-medium text-caption">{{isCardNumberVisible? 'Hide Card Number' :'Show card number'}}</div>
        </q-chip>
        <q-card class="debit-card" flat>
            <q-card-section horizontal class="row justify-end">
                <div class="logo">
                    <img src="../assets/aspire.png" alt="">
                </div> 
            </q-card-section>
            <q-card-section horizontal class="column justify-between">
                <div class="q-px-lg q-pb-md text-h6 text-white">{{cardDetails.name}}</div>
                <div class="q-px-lg q-py-xs text-caption text-weight-light text-white">{{cardNumber}}</div>
                <div class="validity-cvv-aspire q-px-lg q-py-xs text-caption text-weight-bold text-white row justify-between">
                    <span>Thru: {{cardValidity}}</span>
                    <span>CVV: * * *</span>
                </div>
            </q-card-section>
            <q-card-section horizontal class="row justify-end">
                <div class="visa">
                    <img src="../assets/visa.svg" alt="">
                </div>
            </q-card-section>
        </q-card>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import { CardDetails } from './models';
export default defineComponent({
    name: 'debit-card',
    props: {
        cardDetails: {
            type: Object as PropType<CardDetails>,
            required: true
        }
    },
    computed: {
        cardNumber() {
            let input: number = this.cardDetails.number;
            let counter = 1;
            let final = [];
            let cardNumber: string = this.isCardNumberVisible ? input.toString() : this.getHiddenCardNumber(input);
            for(let s of cardNumber) {
                if(counter%4==0) {
                    final.push(s);
                    final.push('\xa0\xa0\xa0\xa0');
                } else {
                    final.push(s);
                }
                counter++;
            }
            return final.join('');
        },
        cardValidity() {
            let input: Date = this.cardDetails.valid;
            return input.toLocaleDateString('en-US', { year: '2-digit', month: 'numeric' });
        }
    },
    methods: {
        getHiddenCardNumber(input: number): string {
            let cardNumber = input.toString();
            let visiblePart = cardNumber.substr(12, cardNumber.length);
            return Array(13).join('⬤') + visiblePart;
        }
    },
    setup() {
        let isCardNumberVisible = ref(false);
        return { isCardNumberVisible };
    }
});
</script>

<style lang="scss" scoped>
.fluid-chip {
    height: 35px;
    border-radius: 5px 5px 0 0;
    margin-top: 20px;
    margin-right: -0.0px;
    margin-bottom: -10px;
    padding: 5px 10px 15px 10px;
}
.debit-card {
    min-width: 320px;
    min-height: 204px;
    margin-bottom: 25px;
    background-color: $secondary;
    border-radius: 10px;
}
::v-deep(.logo) {
    padding: 10px 10px 0 10px;
    & > img {
        height: 40px;
        filter: brightness(0) invert(1);
    }
}
::v-deep(.visa) {
    padding: 0 10px;
    height: 30px;
    overflow: hidden;
    & > img {
        height: 60px;
        transform: translateY(-15px);
        filter: brightness(0) invert(1);
    }
}
::v-deep(.validity-cvv-aspire) {
    width: 200px;
}
</style>