<template>
    <div class="component-menu" :class="mobileView ? 'bg-white': 'bg-primary'">
        <site-identity v-if="!mobileView" />
        <div class="component-menu__items">
            <q-btn-group spread flat :class="mobileView ? 'row': 'column'">
                <q-btn no-caps align="left" class="menu-btn-aspire q-pa-md-lg q-pa-m-xs" @click="navigateTo('/', 'home')">
                    <q-icon color="white" left :size="mobileView ? '2em' : '3em'" name="home" class="q-pl-sm" :class="{'text-grey':activeBtn != 'home' && mobileView,'text-green-13': activeBtn == 'home'}" />
                    <div v-if="!mobileView" :class="{'text-white': !mobileView, 'text-grey': activeBtn != 'home' && mobileView, 'text-green-13': activeBtn == 'home'}">Home</div>
                </q-btn>
                <q-btn no-caps align="left" class="menu-btn-aspire q-pa-md-lg q-pa-m-xs" @click="navigateTo('/cards', 'cards')" >
                    <q-icon color="white" left :size="mobileView ? '2em' : '3em'" name="payment" class="q-pl-sm" :class="{'text-grey':activeBtn != 'cards' && mobileView,'text-green-13': activeBtn == 'cards'}" />
                    <div v-if="!mobileView" :class="{'text-white': !mobileView, 'text-grey': activeBtn != 'cards' && mobileView, 'text-green-13': activeBtn == 'cards'}">Cards</div>
                </q-btn>
                <q-btn no-caps align="left" class="menu-btn-aspire q-pa-md-lg q-pa-m-xs"  @click="navigateTo('/payments', 'payments')">
                    <q-icon color="white" left :size="mobileView ? '2em' : '3em'" name="multiple_stop" class="q-pl-sm" :class="{'text-grey':activeBtn != 'payments' && mobileView,'text-green-13': activeBtn == 'payments'}" />
                    <div v-if="!mobileView" :class="{'text-white': !mobileView, 'text-grey': activeBtn != 'payments' && mobileView, 'text-green-13': activeBtn == 'payments'}">Payments</div>
                </q-btn>
                <q-btn no-caps align="left" class="menu-btn-aspire q-pa-md-lg q-pa-m-xs"  @click="navigateTo('/credit', 'credit')" >
                    <q-icon color="white" left :size="mobileView ? '2em' : '3em'" name="arrow_circle_up" class="q-pl-sm" :class="{'text-grey':activeBtn != 'credit' && mobileView,'text-green-13': activeBtn == 'credit'}" />
                    <div v-if="!mobileView" :class="{'text-white': !mobileView, 'text-grey': activeBtn != 'credit' && mobileView, 'text-green-13': activeBtn == 'credit'}">Credit</div>
                </q-btn>
                <q-btn no-caps align="left" class="menu-btn-aspire q-pa-md-lg q-pa-m-xs"  @click="navigateTo('/settings', 'settings')" >
                    <q-icon color="white" left :size="mobileView ? '2em' : '3em'" name="person" class="q-pl-sm" :class="{'text-grey':activeBtn != 'settings' && mobileView,'text-green-13': activeBtn == 'settings'}" />
                    <div v-if="!mobileView" :class="{'text-white': !mobileView, 'text-grey': activeBtn != 'settings' && mobileView, 'text-green-13': activeBtn == 'settings'}">Settings</div>
                </q-btn>
            </q-btn-group>
        </div>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import SiteIdentity from './SiteIdentity.vue';

export default defineComponent({
    name: 'component-menu',
    props: {
        mobileView: {
            type: Boolean,
            default: false
        }
    },
    components: { SiteIdentity },
    methods: {
        navigateTo(path: string, btnName: string): void {
            this.activeBtn = btnName;
            this.$router.push({ path }).catch(err => console.error(err));
        }
    },
    setup() {
        const activeBtn = ref('home');
        return { activeBtn }
    }
})
</script>

<style lang="scss" scoped>
.component-menu {
    position: sticky;
    top:0;
    height: 100%;
    ::v-deep(.menu-btn-aspire) {
        width: 100%;
    }
}
</style>