<template>
    <div class="component-my-debit-cards">
        <div class="row justify-evenly">
            <div class="left-panel">
                <q-carousel
                    v-model="slide"
                    transition-prev="scale"
                    transition-next="scale"
                    swipeable
                    animated
                    navigation
                    padding
                    height="300px"
                    :dark="$q.screen.lt.sm"
                >
                    <template v-slot:navigation-icon="{ active, btnProps, onClick }">
                        <q-btn v-if="active" size="sm" icon="radio_button_checked" color="secondary" flat round @click="onClick" />
                        <q-btn v-else size="xs" :icon="btnProps.icon" color="green-2" flat round dense @click="onClick" />
                    </template>

                    <q-carousel-slide name="style" class="column no-wrap flex-center q-pa-none">
                        <div class="card">
                            <debit-card :cardDetails="{name: 'Mark Henry', valid: new Date('2019-01-16'), number: 3566002020360505, cvv: 231}" />
                        </div>
                    </q-carousel-slide>
                    <q-carousel-slide name="tv" class="column no-wrap flex-center q-pa-none">
                        <div class="card">
                            <debit-card :cardDetails="{name: 'John Henry', valid: new Date('2019-01-16'), number: 3566001111360505, cvv: 345}" />
                        </div>
                    </q-carousel-slide>
                    <q-carousel-slide name="tv2" class="column no-wrap flex-center q-pa-none">
                        <div class="card">
                            <debit-card :cardDetails="{name: 'John Perry', valid: new Date('2019-01-16'), number: 3566003333360505, cvv: 567}" />
                        </div>
                    </q-carousel-slide>
                    <q-carousel-slide name="tv3" class="column no-wrap flex-center q-pa-none">
                        <div class="card">
                            <debit-card :cardDetails="{name: 'Mark Perry', valid: new Date('2019-01-16'), number: 3566005555360505, cvv: 332}" />
                        </div>
                    </q-carousel-slide>
                </q-carousel>
                <card-options v-if="$q.screen.gt.xs" />
            </div>
            <div class="right-panel column col-xs-12 col-sm-6 col-md-4">
                <card-expandable-options v-if="$q.screen.gt.xs" />
            </div>
        </div>

    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import DebitCard from './DebitCard.vue';
import CardOptions from './CardOptions.vue';
import CardExpandableOptions from './CardExpandableOptions.vue';

export default defineComponent({
    name: 'my-debit-cards',
    components: { DebitCard, CardOptions, CardExpandableOptions },
    setup() {
        let slide = ref('style');
        let lorem = 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptatem totam, architecto cupiditate officia rerum, error dignissimos praesentium libero ab nemo.'
        return {slide, lorem}
    }
});
</script>

<style lang="scss" scoped>
.left-panel {
    min-width: 320px;
    @media (max-width: $breakpoint-xs-max) {
        flex: 1;
    }
}
.right-panel {
    min-width: 320px;
}
</style>