<template>
    <div class="component-site-identity">
        <div :class="{'light':light, 'logo-aspire-mobile': mobile, 'logo-aspire': !mobile}">
            <img v-if="mobile" src="../assets/aspire-small.png" alt="site-logo-mobile">
            <img v-else src="../assets/aspire.png" alt="site-logo">
        </div>
        <div v-if="!mobile" class="desc-aspire ">Trusted way of banking for 3,000 + SMEs and startups in Singapore</div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
    name: 'component-site-identity',
    props: {
        light: {
            type: Boolean,
            default: false
        },
        mobile: {
            type: Boolean,
            default: false
        }
    },
    setup() {
        return {}
    }
});
</script>

<style lang="scss" scoped>
.component-site-identity {
    padding: 0 25px;
    .logo-aspire {
        & > img {
            height: 100px;
        }
        &.light {
            filter: brightness(0) invert(1);
        }
    }
    .logo-aspire-mobile {
        & > img {
            height: 40px;
        }
        &.light {
            filter: brightness(0) invert(1);
        }
    }
    .desc-aspire {
        color: #4D6C86;
        padding: 0 10px;
    }
}

</style>