// app global css in SCSS form

// transitions
// fade-transition
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
  
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-leave-from, .fade-enter-to {
    opacity: 1;
}

.card-aspire {
    background-color: transparent;
}