<template>
  <router-view />
</template>
<script lang="ts">
import { defineComponent, onMounted } from 'vue';
import { getTransactions, getRequests, getUser } from './firebase';
import { useStore } from './store';

export default defineComponent({
  name: 'App',
  setup () {
    const $store = useStore();
    // initializing vuex store modules on app mount
    onMounted(async() => {
      const requests = await getRequests();
      const transactions = await getTransactions();
      const user = await getUser('u1');
      void $store.dispatch('requests/setRequests', {requests});
      void $store.dispatch('transactions/setTransactions', {transactions});
      void $store.dispatch('users/setUser', {...user});
    });
  }
})
</script>
