<template>
  <!-- capitalizing L in LpR, makes left sidebar non-scrollable -->
  <q-layout view="hHh LpR fFf" :class="{'custom-layout': $q.screen.lt.sm}">

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left">
      <!-- drawer content -->
      <Menu />
    </q-drawer>

    <q-page-container :class="{'custom-container': $q.screen.lt.sm}">
      <q-page :style-fn="darkMode">
        <div v-if="$q.screen.lt.sm" class="logo-mobile">
          <site-identity mobile />
        </div>
        <router-view />
      </q-page>
    </q-page-container>
    <div v-if="$q.screen.lt.sm && ['/', '/cards'].includes(route.path)" class="custom-scroll">
      <div class="wrapper">
        <card-options />
        <card-expandable-options />   
      </div>
    </div>

    <q-footer elevated>
      <Menu mobileView class="lt-md q-py-sm"/>
    </q-footer>

  </q-layout>
</template>

<script>
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { useQuasar } from 'quasar';
import Menu from '../components/Menu.vue';
import SiteIdentity from '../components/SiteIdentity.vue';
import CardOptions from '../components/CardOptions.vue';
import CardExpandableOptions from '../components/CardExpandableOptions.vue';

export default {
  components: { Menu, SiteIdentity, CardOptions, CardExpandableOptions },
  setup () {
    const route = useRoute();
    const leftDrawerOpen = ref(false)
    const $q = useQuasar();

    return {
      route,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      darkMode() {
        if($q.screen.lt.sm) {
          return { backgroundColor: '#0C365A', color: '#fff' }
        } else {
          return {}
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-layout {
    min-height: 1350px !important;
    overflow: scroll;
    .custom-container {
      position:fixed; 
      height:100%; 
      width: 100%;
      background: $primary;
      .logo-mobile {
        float: right;
        margin-top: 50px;
      }
    }
    .custom-scroll {
    .wrapper {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding-bottom: 72px;
      border-radius: 25px 25px 0 0;
      background: white;
      div:not(:first-child) {
        @media (max-width: $breakpoint-xs-max) {
          padding: 0 5%;
        }
        @media (max-width: 350px) {
          width: 320px;
          padding: 0;
          margin: auto;
        }
      }
    }
  }
}

</style>